.collapse{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: initial;
}

.collapse_title{
    width: 1023px;
    height: 40px;
    border-radius: 5px;
    background-color: #FF6060;
    color: #FFFFFF;
    padding: 0.2rem;
    display: flex;
    justify-content: space-between;
} 

.collapse_txt{
    margin: 8px 0px 0px 16px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 142.6%;
}
.collapse_fleche{
    display: flex;
    align-items: center;
    margin: 1rem;
}
section{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.collapse_texte{
    background-color: #F6F6F6;
    padding: 1rem;
    color: #FF6060    ;
}