header{
    display: flex;
    justify-content: space-between;
    height: 8vh;
    padding: 1rem 4.5rem 0rem;
    align-items: center;
}

.header-img{
    height: 50px;

}

.header-nav{
    width: 12rem;
    display: flex;
}

.header-nav a{
    height: 100%;
    text-decoration: none;
    display: flex;
    color: #FF6060;
    justify-content: center;
    width: 100%;
    text-transform: uppercase;
}

